---
- name: Install ruby for iostat plugin
  yum: name=ruby state=present

- name: Add iostat plugin file
  template: src=roles/collectd/templates/iostat_collectd_plugin.rb dest=/etc/collectd/plugins/iostat_collectd_plugin.rb mode=0744 owner=nobody group=nobody

- name: Add collectd configuration file
  template: src=roles/collectd/templates/collectd.conf.j2 dest=/etc/collectd.conf backup=yes
  tags: pass

- name: Starting collectd service
  service: name=collectd state=restarted enabled=yes
