Host *
  ForwardAgent          yes
  StrictHostKeyChecking no

########## The generic jump host (currently Urkki) #######

Host urkki
        Hostname urkki.csc.fi
	AddressFamily inet

################ ePOUTA CEPH ###############

Host manage.epouta
  ProxyCommand ssh -F ssh.config -q  urkki nc manage.epouta 22
  StrictHostKeyChecking yes

Host storage0101
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0101 22

Host storage0102
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0102 22

Host storage0103 
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0103 22

Host storage0104
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0104 22

Host storage0105
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0105 22

Host storage0106
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0106 22

Host storage0107
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0107 22

Host storage0108
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0108 22

Host storage0109
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0109 22

Host storage0110
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0110 22

Host storage0111
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0111 22

Host storage0112
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0112 22

Host storage0113
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0113 22

Host storage0114
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0114 22

Host storage0115
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0115 22

Host storage0201
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0201 22

Host storage0202
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0202 22

Host storage0203
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0203 22

Host storage0204
   Proxycommand ssh -F ssh.config -q manage.epouta nc storage0204 22

################ cPOUTA CEPH ###############

Host taito-service01
  ForwardAgent yes
  ProxyCommand ssh -F ssh.config -q urkki nc taito-service01 22
  StrictHostKeyChecking yes

Host taito-cloud1
  ForwardAgent yes
  ProxyCommand ssh -F ssh.config -q taito-service01 nc taito-cloud1 22

Host pouta-s01
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc pouta-s01 22

Host pouta-s02
   Proxycommand ssh -F ssh.config -q taito-cloud1  nc pouta-s02 22

Host pouta-s03
   Proxycommand ssh -F ssh.config -q taito-cloud1  nc pouta-s03 22

Host pouta-s04
   Proxycommand ssh -F ssh.config -q taito-cloud1  nc pouta-s04 22

Host ceph-c1s1
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c1s1 22

Host ceph-c1s2
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c1s2 22

Host ceph-c1s3
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c1s3 22

Host ceph-c2s1
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c2s1 22

Host ceph-c2s2
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c2s2 22

Host ceph-c2s3
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c2s3 22

Host ceph-c3t1
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c3t1 22

Host ceph-c3s2
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c3s2 22

Host ceph-c3s3
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c3s3 22

Host ceph-c4s1
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c4s1 22

Host ceph-c4t2
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c4t2 22

Host ceph-c4s3
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-c4s3 22

Host ceph-s5
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-s5 22

Host ceph-s6
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-s6 22

Host ceph-s7
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-s7 22

Host ceph-s8
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-s8 22

Host ceph-s9
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-s9 22

Host ceph-mon1
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-mon1 22

Host ceph-mon2
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-mon2 22

Host ceph-mon3
   Proxycommand ssh -F ssh.config -q taito-cloud1 nc ceph-mon3 22

